<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Six ages</title>
</head>
<body background="../static/images/wallpaper.jpg" style="background-size: cover;background-position: center center;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
	SIX - AGES
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
       <li class=""><a href="http://127.0.0.1:8000">Home</a></li>
       <li class=""><a href="http://127.0.0.1:8000/arcade/">Arcade</a></li>
       <li class=""><a href="http://127.0.0.1:8000/action/">Action</a></li>
       <li class=""><a href="http://127.0.0.1:8000/puzzle/">Puzzle</a></li>
       <li class=""><a href="http://127.0.0.1:8000/sport/">Sport</a></li>
       <li class=""><a href="http://127.0.0.1:8000/strategy/">Strategy</a></li>
       </ul>
        <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li style="color: white;padding-top: 12px;"><b>|</b></li>
           <li class=""><a href="http://127.0.0.1:8000/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         </ul>
    </div>
  </div>
</nav>

    <div class="container text-center">
        <div class="row" >
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="../static/images/SixAgesLogo.png" class="img-responsive">
                <h3 class="text-center" style="color: white ;text-shadow: 2px 2px #FF0000">Sign in to Six Ages</h3>
                <div class="well">
                    <form action="/signin/redirect" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="Username"> Username  </label>
                            <input type="text" class="form-control" id = "Username" placeholder="Username" name="Username" required>
                        </div>
                         <div class="form-group">
                            <label for="pwd"> Password  </label>
                            <input type="password" class="form-control" id = "pwd" placeholder="Password" name="Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </div>
                        <div class="form-group">
                            <label style="color: red"> {{display_error}} </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</body>
</html>