{% extends "mainpage_template.html" %}
{% block title %} All-games {% endblock %}

{% block content %}
    {% load static %}
    <div class="row" style="margin-bottom: 10px;">
        {% for game in mygame %}
        <div class="col-sm-2 ">
             <div class="card game">
                 <a href="http://127.0.0.1:8000/mainpage/show_game/{{game.game_swf}}">
                     <img src="{% static '' %}{{game.game_images}}" alt="card three" class="card-top-image" width="100" height="100">
                 </a>
                 <div class="card-body">
                     <p>{{game.game_display_name}}</p>
                         {% for i in "x"|rjust:game.game_rating%}
                         <span class="glyphicon glyphicon-star" style="color: gold"></span>
                         {% endfor %}
                 </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
        </div>
        <div class="row" style="margin-bottom: 10px;">
        {% endif %}
        {% endfor %}
        </div>

{% endblock %}
