{% extends "mainpage_template.html" %}
{% block title %} Play Games {% endblock %}

{% block content %}
    {% load static %}
    <script>
        $(document).ready(function(){
            $('#comment_but').click(function () {
                console.log("clicked me");

                    var myKeyVals = {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        comment: $('textarea#comment').val(),
                        game_name: '{{ request.path }}' ,
                        user_name: '{{ username }}'
                };










                $.ajax({
                      type: 'POST',
                      url: "http://127.0.0.1:8000/mainpage/mycomment/",
                      data: myKeyVals,
                      dataType: "text",
                      success: function () {
                          $("hr:last").after("<div class=\"row mycomment\">" +
                                  "<div class=\"col-sm-12\">" +
                                  "<div class=\"media\">" +
                                  "<div class=\"media-left\">" +
                                  "<img src=\"{% static '' %}{{avatar_image}}\" class=\"media-object\" style=\"width:60px\" alt=\"Haha\">" +
                                  " </div> <div class=\"media-body\" style=\"text-align: left\">" +
                                  "<h4 class=\"media-heading\">{{ username }}</h4>" +
                                  "<p style=\"margin: 0\">"+$('textarea#comment').val()+"</p>" +
                                  "</div></div></div></div><hr>");
                          $('textarea#comment').val('');

                      }
                });
            });

        });
    </script>
    <div class="row">
        <div class="col-sm-12">
            <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="720" height="480">
              <param name="movie" value="{% static '' %}{{game_title}}.swf" />
              <param name="quality" value="high" />
              <embed src="{% static '' %}{{game_title}}.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="720" height="480"></embed>
            </object>
        </div>
    </div>
    <div class="row">

    </div>
    <br>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 well" >
                  <div class="panel panel-default text-left">
                      <form>
                            <div class="form-group" style="margin: 0px">
                              <textarea placeholder="Write Comment Here..." class="form-control" rows="2" id="comment" style="resize:none"></textarea>
                            </div>
                      </form>
                  </div>
                  <button type="button" class="btn btn-default btn-sm" id="comment_but" style="float: right">
                        <span class="glyphicon glyphicon-pencil"></span>  Comment
                  </button>
            </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10" style="padding: 0">
        <hr>
        {% for a_comment in comment%}
        <div class="row mycomment">
            <div class="col-sm-12">
                <div class="media">
                    <div class="media-left">
                      <img src="{% static '' %}{{a_comment.avatar_image}}" class="media-object" style="width:60px" alt="Haha">
                    </div>
                    <div class="media-body" style="text-align: left">
                      <h4 class="media-heading">{{ a_comment.Username }}</h4>
                      <p style="margin: 0">{{ a_comment.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
        </div>
        <div class="col-sm-1">

        </div>
    </div>

{% endblock %}
