{% extends "template_welcome.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<br><br>
<div id="section1" class="container-fluid" style="padding-top:50px;color: #fff; background-color: #1E88E5; height: 600px;" onload="myFunction()">
  <img src="../static/images/SixAgesLogo.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
    <br><br>
  <h3 style="color: black;text-align: center" >Six ages is an online gaming website, where flash games can be played for entertainment purpose. <br>Six ages aims to relieve people from growing stress.</h3>
  <h3 style="text-align: center">Here people can like, comment on games.</h3>

</div>
<div id="section2" class="container-fluid" style="padding-top:50px;color: #fff; background-color: #ff9800;height: 600px;">
  <h1 style="text-align: center">About Us</h1>
  <br>
  <h3 style="color: black;text-align: center">Come say hello! We are located at Atharva College of engineering.</h3>
  <h3 style="color: black;text-align: center">Welcome to the family !!!</h3>


<div class="container">
  <h2>Our team :</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail" style="width: 90%;">
          <img src="../static/images/Gokul.jpg" alt="Lights" style="height:315px ; width:100%">
            <div class="caption">
            <h4 style="color: black;text-align: center" >CEO : Gokul Kombath</h4>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="width: 90%;">
          <img src="../static/images/ajay.jpg" alt="Nature" style="width:100%">
            <div class="caption">
            <h4 style="color: black;text-align: center" >Technical Head : Ajay Kushwaha</h4>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="width: 90%;">
          <img src="../static/images/Saundharya.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
            <h4 style="color: black;text-align: center" >Marketing Head : Saundharya junjur</h4>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}